@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-border: var(--border);
}

:root {
  --primary: #0b4ea2;
  --secondary: #f97316;

  --background: #ffffff;
  --foreground: #111827;
  --card: #ffffff;
  --border: #e5e7eb;
}

.dark {
  --background: #0f172a;
  --foreground: #f8fafc;

  --card: #111827;
  --border: #374151;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition:
    background-color .3s,
    color .3s;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
    width: 35%;
  }

  50% {
    width: 60%;
  }

  100% {
    transform: translateX(300%);
    width: 35%;
  }
}